.heart-container {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	height: 100vh;
	background-color: #f44336;
}

.heart {
	width: 100px;
	height: 90px;
	position: relative;
	transform: rotate(45deg);
	cursor: pointer;
}

.heart:before,
.heart:after {
	content: "";
	position: absolute;
	background-color: #f44336;
	border-radius: 50px 50px 0 0;
}

.heart:before {
	top: 0;
	left: 50px;
	width: 50px;
	height: 50px;
}

.heart:after {
	top: -50px;
	left: 0;
	width: 50px;
	height: 50px;
}

.heart-rate {
	width: 50px;
	height: 50px;
	position: absolute;
	top: -25px;
	left: 25px;
	background-color: #fff;
	border-radius: 50%;
	animation: heartbeat 1s ease-in-out infinite;
}

@keyframes heartbeat {
	from {
		transform: scale(1);
	}
	to {
		transform: scale(1.2);
	}
}

.message {
	text-align: center;
	margin-top: 30px;
}

button {
	padding: 10px 20px;
	border-radius: 5px;
	margin: 0px 10px;
	cursor: pointer;
	background-color: #fff;
	color: #f44336;
	border: none;
	font-size: 16px;
	transition: all 0.5s ease-in-out;
}

button:hover {
	transform: translateY(-5px);
}

#no-btn:hover {
	background-color: #f44336;
	color: #fff;
}
