body {
    background-image: url(ceu.jpeg);
    background-size: cover;
}
h1 {
    color: rgb(17, 193, 58);
    text-align: center;
    font-size: 40px;
    font-family: "Press Start 2P"
    

}
img {
    height: 350px;
    display: block;
    margin: auto;
}